@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Proza+Libre&display=swap');

:root {
    --schdTwo: 0;
}

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
}

html {
    font-size: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4.210rem;
    text-align: left;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 3.158rem;
}

h3 {
    font-size: 2.369rem;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.750rem;
}

nav {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    margin: 15px;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    transition: 200ms;
}

nav ul li a:hover {
    color: gray;
    transition: 200ms;
}

nav ul li a img {
    height: 32px;
    width: auto;
}

nav ul li a:has(img) {
    padding: 0;
}

nav ul li a:has(img):hover {
    font-size: 100%;
}

div.padding {
    margin: 0 8vw;
}

header {
    display: grid;
    margin: auto;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    min-height: 88vh;
    place-items: center;
}

header img {
    width: 100%;
    padding-top: 20px;
    height: auto;
}

header p {
    width: max-content;
    margin: 50px 0;
    transition: 400ms;
}

header p:hover {
    background-color: beige;
    cursor: pointer;
}

header p a {
    text-decoration: none;
    color: black;
    padding: 30px;
    margin: 50px 0 0;
}

div.buttons {
    display: flex;
    gap: 1rem;
}

section.content {
    display: grid;
    margin: auto;
    margin-bottom: 15vh;
    place-items: center;
}

img.icon {
    width: 85px;
    height: auto;
    margin-bottom: 20px;
}

.boxes {
    display: grid;
    margin: auto;
    margin-top: 30px;
    padding: 0;
}

.box {
    min-width: fit-content;
    list-style-type: none;
    display: grid;
    place-items: center;
}

.threeb {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
}

ul.threeb li {
    padding: 3vw 3vw;
}

iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

.accent {
    color: #E04852;
}

.primary {
    color: #D01273;
}

li.grey {
    background-color: #f7f7f7;
}

.bigbox {
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 5%;
}

.twogrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}

.a {
    height: max-content;
}

.a:nth-child(1) {
    margin-bottom: 30px;
}

.rounded-box {
    background-color: #E0DFD1;
    border-radius: 20px;
}

.primary-back {
    color: #fefdf8;
    background-color: #E04852;
}

footer {
    background-color: #f7f7f7;
    min-height: 20vh;
}

.center {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 1100px) {
    nav li {
        font-size: 0.9rem;
    }

    header {
        grid-template-columns: none;
        min-height: 100vh;
    }

    header img {
        max-width: 80%;
        min-width: none;
    }

    h2,
    h3 {
        text-align: center;
    }

    .content {
        padding: 0;
        margin: 0;
    }

    .threeb {
        display: block;
        margin: 0;
        padding: 0;
    }

    ul.threeb li {
        margin: 30px 0;
        width: 80vw;
    }

    .twogrid,
    .bigbox {
        display: block;
    }
}

.hiddenv2 {
    display: none !important;
}

.showv2 {
    display: block;
}

.dropdown_container {
    display: grid;
    place-items: center;
    padding: 20px;
}

/* Form stuff */

#cform {
    background-color: #E04852;
}

#formpart2 {
    display: grid;
    place-items: center;
}

.center4ig {
    display: grid !important;
    place-items: center !important;
}

.padding2 {
    padding: 0 8vw;
}

.dropdown_container {
    background-color: white;
    height: 100vh;
    font-family: 'Poppins';
}


.dropdownselect {
    border-radius: 5px;
    background-color: white;
    font-family: 'Poppins';

    border: 1px solid #c0bdbd;
    padding: 10px;
    width: 100%;
}

.dropdown {
    position: relative;
    background-color: white;
    font-family: 'Poppins';
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Poppins';
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.file {
    color: transparent;
    display: grid;
    place-items: center;
    width: 100%;
}

.file::-webkit-file-upload-button {
    visibility: hidden;
}

.file::before {
    content: 'Upload Class List to Continue';
    font-family: 'Poppins';
    background-color: #f1f1f1;
    text-align: center;
    width: fit-content;
    margin: auto;
    color: black;
    font-size: 3rem;
    padding: 20px;
    border-radius: 10px;
}

.file:hover::before {
    cursor: pointer;
}

.greenBorder:before {
    background-color: #2bb673;
    color: #fefdf8;
}

.theforcols {
    background-color: white;
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
}

.thetwocols {
    background-color: white;
    width: 30vw;
    min-width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.fourcol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5%;
    padding: 10px;
}

.twocol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    padding: 10px;
}

.twocol div select {
    width: fit-content;
}

/* login stuff */

.login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    background-color: #E04852;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.display {
    font-size: 9rem;
    text-align: left;
    color: white;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-15%, -15%);
    text-shadow: 15px 15px #d01273;
}

.flipped {
    font-size: 9rem;
    position: absolute;
    text-align: right;
    color: white;
    top: 15%;
    right: 5%;
    transform: translate(0, -15%);
    text-shadow: 15px 15px #d01273;
}

.login .rounded-box {
    display: grid;
    place-items: center;
    float: right;
    background-color: white;
    z-index: 5;
    padding: 8vw 6vw;
    border-radius: 20px 0 0 20px;
}

p.error {
    color: #f3bb1b;
    background-color: #fff8e4;
    border-radius: 30px;
    padding: 3px;
    text-align: center;
    border: 1px solid #f3bb1b;
}

form.loginform {
    display: grid;
    margin-top: 30px;
}

.max-form {
    width: 100%;
    max-width: 450px;
}

.submit {
    border-radius: 10px;
    background-color: #E0DFD1;
    border-style: none;
    padding: 10px;
    margin: 0;
    font-family: 'Poppins';
    font-size: 1rem;
    transition: 200ms;
}

.submit:hover {
    transition: 200ms;
    font-size: 110%;
    cursor: pointer;
}

.input-box {
    border-radius: 5px;
    border: 1px solid #c0bdbd;
    padding: 10px;
    font-family: 'Poppins';
    font-weight: 400;
}

div.rounded-box a img {
    width: 38px;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    margin-bottom: 10px;
    transition: 200ms;
}

@media (max-height: 800px) {
    .tohide {
        display: none;
    }
}

/* Dashboard */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #f7f7f7;
    border-radius: 0 20px 0 20px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebarContent {
    padding: 20px;
    padding-top: 64px;
}

#mySidebar:not(.openSidebar) .sidebarContent {
    position: absolute;
}

.openSidebar {
    width: 40vw;
}

.sidebar .closebtn {
    position: absolute;
    top: 15px;
    left: 15px;
}

.openbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    position: fixed;
    top: 15px;
    left: 15px;
}

.openbtn img,
.closebtn img {
    width: 38px;
    transition: 200ms;
    z-index: 10;
}

#main {
    transition: margin-left .5s;
    position: fixed;
    width: 100vw;
}

.collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}

.collapsible:nth-child(-n + 3):not(.active) {
    /* Rohit, 4 needs to be a var which is number of past schedules * 2 - 1 */
    border-bottom: 1px solid black;
}

.active .plus,
.collapsible:hover .plus {
    transform: rotate(135deg);
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-content table {
    min-width: fit-content;
    color: gray;
}

table h3 {
    color: gray;
}

.x-scroll {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}

.y-scroll {
    overflow: hidden;
    overflow-x: scroll;
}

.added h3 {
    color: #4D9078;
}

.moved h3 {
    color: #3C91E6;
}

.removed h3 {
    color: #E04852;
}

.plus {
    font-weight: 900;
    font-size: 2em;
    float: right;
    transition: .5s;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}

.last-change {
    z-index: 5;
}

.last-change .rounded-box {
    background-color: #f7f7f7;
    border-radius: 0;
    display: grid;
    grid-template-columns: none;
    place-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.profile .rounded-box {
    background-color: white;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}

tr:nth-child(-n + 7) td {
    border-bottom: 1px solid black;
}

tr.added td {
    border-bottom: 3px solid #E04852;
}

tr.added:last-child td {
    border-top: #E04852;
    border-bottom: none;
}

@media screen and (max-width: 1200px) {
    .openSidebar {
        width: 80vw;
    }
}

@media screen and (max-width: 800px) {
    .openSidebar {
        width: 100vw;
    }
}

.boop {
    transition: 200ms;
}

.boop:hover {
    transform: translate(0, -4px);
}

.noRight {
    margin-right: 0 !important;
}

body:has(#main) {
    background-color: #E04852;
}

.attributions {
    background-color: #E04852;
}

.attribute {
    background-color: #f7f7f7;
    border-radius: 30px;
    list-style:none;
    width: 20vw;
    height: 30vh;
    padding-right:2vw;
}

.attgrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 50px;
    text-align: center;
    place-items:center;
    overflow-x: auto;
    overflow-y: auto;
}

a.sendhelp {
    text-decoration: none;
    display: grid;
    place-items: center;
}

a.sendhelp h4 {
    background-color: #E0DFD1;
    padding: 15px;
    border-radius: 20px;
    width: fit-content;
    color: black;
    font-size: 1.5rem;
}