@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
}

html {
    font-size: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4.210rem;
    text-align: left;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 3.158rem;
}

h3 {
    font-size: 2.369rem;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.750rem;
}

nav {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: 1s;
}

nav ul li a:hover {
    color: #4073A5;
    font-size: 110%;
    transition: 400ms;
}

div.padding {
    margin: 0 8vw;
}

header {
    display: grid;
    margin: auto;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    height: 88vh;
    place-items: center;
}

header img {
    width: 100%;
    min-width: 390px;
    height: auto;
}

header p {
    width: max-content;
    margin: 50px 0;
    transition: 400ms;
}

header p:hover {
    font-size: 110%;
    background-color: beige;
    transition: 400ms;
}

header p a {
    text-decoration: none;
    color: black;
    padding: 30px;
    margin: 50px 0 0;
}

section.content {
    display: grid;
    margin: auto;
    margin-bottom: 15vh;
    place-items: center;
}

img.icon {
    width: 85px;
    height: auto;
    margin-bottom: 20px;
}

.boxes {
    display: grid;
    margin: auto;
    margin-top: 30px;
    padding: 0;
}

.box {
    min-width: fit-content;
    list-style-type: none;
    display: grid;
    place-items: center;
}

.threeb {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
}

ul.threeb li {
    padding: 3vw 3vw;
}

iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

.fancy {
    color: #E04852;
}

.primary {
    color: #4073A5;
}

li.grey {
    background-color: #f7f7f7;
}

.bigbox {
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 5%;
}

.twogrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}

.a {
    height: max-content;
}

.a:nth-child(1) {
    margin-bottom: 30px;
}

.rounded-box {
    background-color: #E0DFD1;
    border-radius: 20px;
}

footer {
    background-color: #f7f7f7;
    height: 20vh;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 1100px) {
    nav li {
        font-size: 0.9rem;
    }

    header {
        grid-template-columns: none;
        min-height: 100vh;
    }

    header img {
        max-width: 80%;
        min-width: none;
    }

    h2,
    h3 {
        text-align: center;
    }

    .content {
        padding: 0;
        margin: 0;
    }

    .threeb {
        display: block;
        margin: 0;
        padding: 0;
    }

    ul.threeb li {
        margin: 30px 0;
        width: 80vw;
    }

    .twogrid, .bigbox {
        display: block;
    }
}

/* Form stuff */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    padding: 16px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    background-color: white;
    position: absolute;
    border: 1px #dadada solid;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.hiddenv2 {
    display: none;
}

.showv2 {
    display: block;
}

/* login stuff */

.login {
    display: grid;
    background-color: #E04852;
    height: 100vh;
    width: 100vw;
}

.display {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 8rem;
    text-align: left;
}

.login .rounded-box {
    position: absolute;
    place-self: center;
    padding: 8vw 4vw;
}