@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Major Mono Display', monospace;
    background-color: #F1F0E8;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 5vh;
    height: 100vh;
    width: 100vw;
    font-size: 100vw;
    background-color: #e04952;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: calc(1rem + 10%);
    color: #F1F0E8;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

p  {
    font-family: 'Raleway', sans-serif;
}

ul {
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

li {
    display: grid;
    place-items: center;
    background-color: #e9e8e1;
    width: 45vw;
    height: 20vh;
}

@media screen and (max-width: 600px) {
    h2, p, ul {
        font-size: 2.5vw;
    }
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

@media (prefers-reduced-motion: no-preference) {
    .hidden {
      transition: opacity, filter, transform 1s;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.column {
    -ms-flex: 45%;
    flex: 45%;
    max-width: 50%;
    margin: 4px;
}

div.snap {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    display: grid;
    place-items: center;
}

div.content {
    margin: 0;
    padding: 2em;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    padding: 16px;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}